@import '~antd/dist/antd.css';
@import './fonts/montserrat.fonts.css';

body {
  overflow-x: hidden;
  background-color: #000000;
  color: #ffffff;
}

.App {
  font-family: 'Montserrat', sans-serif;
  padding-top: 6vh;
  padding-bottom: 20vh;
}
